beautifulsoup4==4.6.0
boto3==1.7.58
botocore==1.10.58
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
docutils==0.14
idna==2.7
jmespath==0.9.3
lxml==3.6.4
mysql-connector-python==8.0.11
protobuf==3.6.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
six==1.11.0
urllib3==1.23
xmltodict==0.11.0
